.discography {
  background-color: $primary;
  height: 100vh;

  &__wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__spotifyWrapper {
    padding-top: 150px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    padding: 1rem;

    @media screen and(max-width: 960px) {
      width: 700px;
    }

    @media screen and(max-width: 768px) {
      width: 500px;
    }
    @media screen and(max-width: 500px) {
      width: 300px;
    }
  }
}
